<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>
<head>
    <meta charset="utf-8" />
    <title>user</title>
</head>

    <body>
        <!-- Begin page -->
        <div layout:fragment="app-content">

            <form class="needs-validation" novalidate th:action="@{/users/store}" method="post" th:object="${user}">
                <div class="row">
                    <div class="offset-lg-2 col-lg-5">
                        <div class="card">
                            <div class="card-body">

                                <!-- Fisrt name -->
                                <div class="mb-3">
                                    <label class="form-label" for="lastname">Nom*</label>
                                    <input type="text" class="form-control" id="lastname" placeholder="Nom" th:field="*{lastname}" required>
                                    <div class="text-warning" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">
                                        error dans le champ!
                                    </div>
                                </div>

                                <!-- Last name -->
                                <div class="mb-3">
                                    <label class="form-label" for="firstname">Prénom*</label>
                                    <input type="text" class="form-control" id="firstname" placeholder="Prénom" th:field="*{firstname}">
                                    <div class="text-warning" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">
                                        error dans le champ!
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="username">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        <input type="email" class="form-control" id="username" placeholder="Email" th:field="*{login}"
                                               aria-describedby="inputGroupPrepend" required>
                                        <div class="text-warning" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">
                                            error dans le champ!
                                        </div>
                                    </div>
                                </div>

                                <!-- Fisrt name -->
                                <div class="mb-3">
                                    <label class="form-label" for="password">Mot de passe*</label>
                                    <input type="password" class="form-control" id="password" placeholder="Mot de passe" th:field="*{password}" min="8" required>
                                    <div class="text-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                        error dans le champ!
                                    </div>
                                </div>

                                <button class="btn btn-primary" type="submit">Submit form</button>
                                <!-- end row -->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div>
                    <div class="card col-lg-2">
                        <div class="card-body">
                            <h5 class="text-primary mb-2">Role*</h5>
                            <div class="form-check mb-2" th:each="role : ${roles}">
                                <input type="radio" th:id="${'role'+role}" name="role" th:value="${role}" th:field="*{role}" class="form-check-input" th:checked="${role == user.getRole()}">
                                <label class="form-check-label" th:for="${'role'+role}" th:text="${role.getDesignation()}">Role</label>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </body>

</html>