<!DOCTYPE html>
<html lang="en" data-layout="topnav" data-topbar-color="dark"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

    <head>
        <meta charset="utf-8" />
        <title>Error 500 | Hyper - Responsive Bootstrap 5 Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />

        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

        <!-- Theme Config Js -->
        <script th:src="@{yper-config.js}"></script>

        <!-- App css -->
        <link th:href="@{/css/app-creative.min.css}" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons css -->
        <link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
    </head>

    <body class="authentication-bg">

        <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-4 col-lg-5">
                        <div class="card">
                            <!-- Logo -->
                            <div class="card-header py-4 text-center bg-primary">
                                <a th:href="index.html">
                                    <span><img th:src="@{/images/logo.png}" alt="logo" height="22"></span>
                                </a>
                            </div>
                            
                            <div class="card-body p-4">

                                <div class="text-center">
                                    <img th:src="@{/images/svg/startman.svg}" height="120" alt="File not found Image">

                                    <h1 class="text-error mt-4">500</h1>
                                    <h4 class="text-uppercase text-danger mt-3">Internal Server Error</h4>
                                    <p class="text-muted mt-3">Why not try refreshing your page? or you can contact <a th:href="" class="text-muted"><b>Support</b></a></p>

                                    <a class="btn btn-info mt-3" th:href="@{index.html}"><i class="mdi mdi-reply"></i> Return Home</a>
                                </div>

                            </div> <!-- end card-body-->
                        </div>
                        <!-- end card-->
                        
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <footer class="footer footer-alt">
            2018 - <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
        </footer>
        <!-- Vendor js -->
        <script th:src="@{/js/vendor.min.js}"></script>
        
        <!-- App js -->
        <script th:src="@{/js/app.min.js}"></script>

    </body>
</html>
