<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>

<head>
    <meta charset="utf-8" />
    <title>Error</title>
</head>

<body>
<h4 class="page-title" layout:fragment="page-title">Une erreur est survenue</h4>
<!-- Begin page -->
<div layout:fragment="app-content">

    <div class="row justify-content-center" th:object="${errorInfo}">
        <div class="col-lg-4">
            <div class="text-center">
                <img th:src="@{/images/svg/file-searching.svg}" height="90" alt="File not found Image">

                <h1 class="text-error mt-4" th:text="${errorInfo.getCode()}">404</h1>
                <h4 class="text-uppercase text-danger mt-3" th:text="${errorInfo.getMessage()}">Page Not Found</h4>
                <p class="text-muted mt-3">It's looking like you may have taken a wrong turn. Don't worry... it
                    happens to the best of us. Here's a
                    little tip that might help you get back on track.</p>

                <a class="btn btn-info mt-3" th:href="@{/clients}"><i class="mdi mdi-reply"></i> Return Home</a>
            </div> <!-- end /.text-center-->
        </div> <!-- end col-->
    </div>

</div>
</body>
</html>