<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>

    <head>
        <meta charset="utf-8" />
        <title>Clients</title>
    </head>

    <body>
    <h4 class="page-title" layout:fragment="page-title">Clients</h4>
        <!-- Start Content-->
        <div layout:fragment="app-content">
            <div class="d-flex justify-content-end">
                <a th:href="@{/clients/edit}" class="btn btn-link btn-float has-text btn-add-toolbar">
                    <i class=" ri-add-circle-line text-primary"></i><br>
                    <span>Nouveau</span>
                </a>
            </div>
            <form action="">
                <div class="row">
                    <div class="col-md-1">
                        Recherche:
                    </div>
                    <!-- Find by name -->
                    <div class="col-md-2">
                        <input type="text" class="form-control form-control-sm" id="searchName" placeholder="Nom" name="name">
                    </div>
                    <!-- Find by name -->
                    <div class="col-md-2">
                        <input type="text" class="form-control form-control-sm" id="searchEmail" placeholder="Email" name="email">
                    </div>
                    <!-- Find by name -->
                    <div class="col-md-2">
                        <input type="text" class="form-control form-control-sm" id="phone" placeholder="Téléphone" name="phoneNumber">
                    </div>
                </div>
            </form>

            <div class="card mt-2">
                <div class="card-body">
                    <table class="table mb-0" th:object="${clients}">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Compagnie</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Supplement</th>
                            <th scope="col">Email</th>
                            <th scope="col">N° Téléphone</th>
                            <th scope="col">Articles</th>
                            <th scope="col" size="100">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="client,iter :${clients}">
                            <th scope="row" th:text="${iter.index}">1</th>
                            <td th:text="${client.companyName}">Cell</td>
                            <td th:text="${client.firstname}">Cell</td>
                            <td>
                                <h6>Billing Address</h6>
                                <address>
                                    Lynne K. Higby<br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </td>
                            <td th:text="${client.login}">Cell</td>
                            <td th:text="${client.phoneNumber}">Cell</td>
                            <td th:text="${client.address}">Cell</td>
                            <td>Cell</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- container -->
    </body>
</html>